<% if current_user.try(:admin?) %>
<h1>Posts_admin</h1>
<% end %>

<div class="posts-form">
  <ul class="post-list">
    <% @posts.each do |post| %>
     <li class="post-list-item">
       <div class='post_block_top'>
       <a href=<%= post_path(post.id)%>>
        <% unless post.image.url.nil? %>
        <%= image_tag post.image.url if post.image && post.image.url %>
        <% else %>
        <%= image_tag 'sea.jpg',:size =>'200x250' %>
        <% end %>
        </div>
        <div class='post_block_bottom'>
            <%= post.title %>
        </div>
         </a>
        <div class='post_block_detail'>
           <%= post.description %>
        </div>
       
    </li>
     <div class="post_item-description">
      </div>
    <% end %>
  </ul>
</div>



 



