<% provide(:title, "#{@post.user.name}のKIRAIBAR") %>
<div class='post-form'>
<%= form_with(model: @post, local: true) do |form| %>
 <%= form.hidden_field :label %>
<p>
<p>
  <div class='show_head'>
   <%= @post.user.name %>
  </div>
</p>
<p>
  <%= @post.title %><br>
  <%= @post.status %>
</p>
 <p>
   <%= @post.description %>
</p>
  <%= form.hidden_field :image_cache %>
    <% if @post.image.url.present? %>
    <%= image_tag @post.image.url,size: "250x200"%>
    <% else %>
    <%= image_tag 'smiley-2.jpg',:size =>'250x200' %>
   <% end %>
  </p>
  <p>
   <%= form.hidden_field :label %>
    <strong>Genre:</strong>
     <% @post.labels.each do |label| %>
    <%= label.genre %>
     <%end%>
   </p>
 <% end %>
 <% if user_signed_in? %>
   <% unless @post.user_id == current_user.id %>
     <% if @stock.present? %>
     <%= link_to t('views.stock.unstock'), stock_path(id: @stock.id), method: :delete, class: 'btn btn-danger' %>
     <% else %>
      <%= link_to t('activerecord.models.stock') , stocks_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>

<% if current_user.id == @post.user_id %>
<%= link_to t("activerecord.attributes.post.edit"), edit_post_path(@post) %> 
<%= link_to t("activerecord.attributes.post.destroy"), @post, method: :delete, data: { confirm: '本当に削除していいですか？' } %>
<% end %>

<%= link_to t("activerecord.attributes.post.back"), posts_path %>
  <% if @post.user_id != current_user.id %>
    <li>
      <div class="item">
        <%= link_to @post.user.name, user_path(@post.user) %>
        <%= link_to t('activerecord.models.message'), conversations_path(sender_id: current_user.id, receiver_id: @post.user_id), method: :post %>
      </div>
    </li>
<% end %>

</div>
<div class='post-form'>
<div id="comments_area">
   <%= render partial: 'comments/index',locals: {comments: @comments,post: @post} %>
</div>
 <% end %>
    <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>

</div>
