<div class= 'container1'>
  <div class='top_page'>
   <div class = 'main_box'>
     <div class= 'front'>
       <%= image_tag '/assets/1.jpg',:size =>'300x300' %>
     </div>
     <div class= 'back'>
        <%= image_tag '/assets/2.jpg',:size =>'300x300' %>
     </div>
     <div class= 'left'>
       <%= image_tag '/assets/3.jpg',:size =>'300x300' %>
     </div>
     <div class= 'right'>
       <%= image_tag '/assets/4.jpg',:size =>'300x300' %>
     </div>
     <div class= 'top'>
       <%= image_tag '/assets/5.jpg',:size =>'300x300' %>
     </div>
     <div class= 'bottom'>
       <%= image_tag '/assets/6.jpg',:size =>'300x300' %>
     </div>

  </div>
     <div class='text_block' class='autotype' id = 'autotype'>
        <div class='title'>
          <p><h2><strong>KIRAIBARへようこそ</strong><h2></p>
     <p><h4>大人になってから人の前に「嫌い」という言葉を言えなくなりました。
       嫌いなことをずーと我慢することが孤独の社会で生き延びる救い手になります。
      しかし、我慢すればするほどストレスが増えます。</h4></p>
     <p><h4>日常生活において、誰しもストレスに直面しえます。
     家庭では、夫婦仲や教育、職場では過重労働、転勤、退職などです。
     そしてこれらのストレスにうまく適応できなくなると、しばしば身体的、
     精神的な症状が出ます。たいていの場合は一定範囲内にとどまり短期間でおさまりますが、
     時と場合によっては予想以上に大きくなり「病的な」レベルに達することもあります。
     すると仕事や学業、家庭生活に悪影響が及びます。</h4></p>
       <p><h4>そこで、 少しでも貴方の「きらい」をかき集めることがこのKIRAIBARの役目になります。
      KIRAIBARで嫌いなことをとことんぶちまけて気持ちをスッキリさせることが目的です。
      愚痴やクレーム、記事、写真などを投稿したり、気になるユーザーにメッセージを送ることもできます。
      投票ページではみんなのKIRAIBARをスッキリ投票してスッキリタンクを増やすように
       沢山のスッキリを押しましょう、お互いにスッキリ票を与えて、きもちをスッキリさせましょう。</h4></p>

   </div> 
  </div>
 </div>

  
</div>
<script>
   $.fn.autotype = function(){
     var $text=$(this);
     console.log('this',this);
     var str= $text.html();
     var index=0;
    var x = $text.html();
    var timer=setInterval(function(){
     var current =str.substr(index,1);
        if (current == '<'){
         index = str.indexOf('>',index)+1;
        }else{
          index ++;
       }
     $text.html(str.substring(0,index)+(index & 1 ?'I':""));
       if(index>=str.length){
           clearInterval(timer);
         }
       },100);
      };
      $("#autotype").autotype();
</script>
