<div class= 'container'>
<div class='top_page'>
<div class = 'main_box'>
  <div class= 'front'>
    <%= image_tag '1.jpg',:size =>'300x300' %>
  </div>
  <div class= 'back'>
    <%= image_tag '2.jpg',:size =>'300x300' %>
  </div>
  <div class= 'left'>
    <%= image_tag '3.jpg',:size =>'300x300' %>
  </div>
  <div class= 'right'>
    <%= image_tag '4.jpg',:size =>'300x300' %>
  </div>
  <div class= 'top'>
    <%= image_tag '5.jpg',:size =>'300x300' %>
  </div>
   <div class= 'bottom'>
    <%= image_tag '6.jpg',:size =>'300x300' %>
  </div>

  </div>
  <div class='text_block'>
  <p>大人になってから人の前に嫌いという言葉を言えなくてなりました。
  嫌いなことをずーと我慢することが大人の礼儀として取られています。
  決してこのような捉え方が我らの心によいのか。
  日常生活において、誰しもストレスに直面しえます。
  家庭では、夫婦仲や教育、職場では過重労働、転勤、退職などです。
  そしてこれらのストレスにうまく適応できなくなると、しばしば身体的、
  精神的な症状が出ます。たいていの場合は一定範囲内にとどまり短期間でおさまりますが、
  時と場合によっては予想以上に大きくなり「病的な」レベルに達することもあります。
  すると仕事や学業、家庭生活に悪影響が及びます。
    そこで、 少しでも貴方の「きらい」をかき集めることがこのKIRAIBARの役名になります。
    KIRAIBARで嫌いなことをとことんぶちまけて気持ちをスッキリさせることがストレスの解消につながる。
    愚痴や、記事、写真などを投稿できます。気になるユーザーにメッセージも送れます。他にみんな
    のKIRAIBARをスキッリ投票して毎日のスキッリバーを目指いしましょう。</p>

  </div> 
</div>
</div>

</div>