<%# <% @posts.labels.each do |label| %> 
<%# <% if labels.genre == 'life' %> 
<div class='label-title'>
<p>生活部門</p>
</div>
<div class="posts-form-vote">
  <ul class="post-list">
    <% @posts.each do |post| %>
     <li class="post-list-item-vote" id='vote'>
       <div class='post_block_top'>
         <%= post.id %>
        </div>
        <div class='post_block_bottom'>
           <%= post.description %>
        </div>
       
       </li>
       <div class="post_item-description">

      </div>
    <% end %> 
    <%# <% end %> 
  </ul>
</div>

<%# <% if @posts.label.genre == money %> 
<div class='label-title'>
<p>お金の部門</p>
</div>
<div class="posts-form-vote">
  <ul class="post-list">
    <% @posts.each do |post| %>
     <li class="post-list-item">
       <div class='post_block_top'>
         <%= post.id %>
        </div>
        <div class='post_block_bottom'>
           <%= post.title %>
        </div>
         <div class='post_block_detail'>
           <%= post.description %>
        </div>
       </li>
       <div class="post_item-description">

      </div>
    <% end %> 
    <%# <% end %> 
  </ul>
</div>
<%# <% end %> 