
<div class='label-title'>
<p><strong>自分も'嫌い'と思ったバーを投票しまくりましょう</strong></p>
</div>
<div class="posts-form-vote">
  <ul class="post-list-vote">
    <% @posts.each do |post| %>
     <li class="post-list-item-vote">
       <div class='post_block_top'>
         <%= post.id %>
         <%= post.user.name %>
        </div>
        <div class='post_block_bottom'>
           <%= post.description %>
        </div>
        <div class='vote-button'>
         <%= pluralize(post.votes.count, "票") %>
         <%= button_to 'スキッリ', vote_up_post_path(post.id), method: :post %>
         </div>
       </li>
       <div class="post_item-description">

      </div>
    <% end %> 
    <%# <% end %> 
  </ul>
  <%= paginate @posts %>
</div>
 <div class='chart'>
   <%= bar_chart Vote.group(:post_id).group(:value).count , xtitle: "vote count", ytitle: "post"%> 
 </div>

